# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# Streamlit
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Dataset (Optional: if you don't want to commit the large CSV)
# creditcard.csv

# Models (Optional: if they are too large for GitHub >100MB, but ours are small)
# *.pkl
creditcard.csv

creditcard.csv
*.csv
data/